@font-face {
    font-family: 'RetroText';
    src: url('/../FFFFORWA.TTF') format('truetype');
}

/* Styles applied when the viewport width is 600px or less */
@media screen and (max-width: 700px) {
  #title {
    top: auto;
  }
}

/* Styles applied when the viewport width is 601px or more */
@media screen and (min-width: 701px) {
  #title {
    position: relative;
    top: 50%;
    transform: translateY(37.5%);
  }
}

body {
  background-color: aqua;
  font-family: 'RetroText', Impact;
}

a header {
  display: flex;
  border: 5px solid orange;
  border-radius: 10px;
  background-color: blueviolet;
  justify-content: space-around;
}

.pixelated {
  image-rendering: pixelated; 
  height: auto; 
}

h1, h2 {
  color: orange;
}

h1 {
  display: flex;
  justify-content: center;
}