@font-face {
    font-family: 'RetroText';
    src: url('/../FFFFORWA.TTF') format('truetype');
}

#gavinware-animation {
  width: 75px;
  height: 80px;
  image-rendering: pixelated;
  background-image: url('../images/gavinware_boombox.png');
  background-position: 0px 0px;
}

body {
  background-color: aqua;
  font-family: 'RetroText', 'Courier New', Courier, monospace;
}

.pixelated {
  image-rendering: pixelated; 
}

header {
  display: flex;
  border: 5px solid orange;
  border-radius: 10px;
  background-color: blueviolet;
  justify-content: space-around;
  align-items: center;
}

header a {
  color: orange;
}

#scoreboard-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

#scoreboard-list li a nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreboard-list li a nav h2 {
  color: orange;
  margin: 10px;
  font-weight: 10px;
}

h1, h2 {
  color: orange;
}

h1 {
  display: flex;
  justify-content: center;
}